html,body,div,span,iframe,map,font,img,a img,samp,strong,hr,
h1,h2,h3,h4,h5,h6,b,p,blockquote,a,address,code,dl,dt,dd,ol,
ul,li,form,label,table,tr,td,th,input{padding:0;margin:0;border:0;font-weight:normal;font-size:16px;font-family: Microsoft Yahei, Arial, Helvetica, sans-serif; color:#000;}
body{background: #f9f9f9;position:relative;min-width:1280px;}ul,li{list-style:none;}dl{}.f_l{float:left;}.f_r{float:right;}
html,div,img{
    border-image-width:0 !important;
}
a {
	text-decoration: none;
}
.f_l{
    float:left;
}
.f_r{
    float:right;
}
.cur{
    cursor:pointer;
}

/*页面头部*/
.head_box{
    width:100%;
    background-color:#fff;
}
.head_div{
    width:100%;
    background-color:#f9f9f9;
}
.head_div .top_box{
    width:1280px;
    height:34px;
    padding:0px 50px 0px 80px;
    box-sizing:border-box;
}
.head_div .top_box h2,
.head_div .top_box h3{
    font-size:14px;
    color:#595757;
    line-height:16px;
    margin-top:9px;
}
.head_div .top_box h2{
    float:left;
}
.head_div .top_box h3{
    float:right;
    padding:0px 20px;
    border-right:1px solid #595757;
    cursor:pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.head_div .top_box h3:hover{
    text-decoration:underline;
}
.head_div .top_box h3:first-of-type{
    border:0;
}
.head_logo{
    width:1280px;
    height:164px;
    box-sizing:border-box;
    padding:0px 40px;
}
.head_logo img{
    height:164px;
}

/*菜单*/
.menu_box{
    width:100%;
    min-width:1280px;
    height:50px;
    background-color:#00569f;
}
.menu_div{
    width:1280px;
    height:50px;
    box-sizing:border-box;
    padding:0px 40px;
    position:relative;
}
.menu_list{
    height:50px;
    float:left;
    font-size:18px;
    line-height:50px;
    color:#fff;
    border-right:1px solid transparent;
    border-left:1px solid transparent;
    padding:0px 20px;
    position:relative;
    font-weight:bold;
    cursor:pointer;
}
.menu_j{
    width:0;
    height:0;
    border-bottom:10px solid #fff;
    border-right:6px solid #00569f;
    border-left:6px solid #00569f;
    position:absolute;
    bottom:0;
    left:50%;
    margin-left:-7px;
    display:none;
}
.menu_list:hover{
    border-right:1px solid #fff;
    border-left:1px solid #fff;
}
.menu_list:hover .menu_j{
    display:block;
}
.child_menu{
    width:1280px;
    height:50px;
    position:absolute;
    background-color:rgba(255,255,255,0.8);
    bottom:-50px;
    left:0px;
    visibility:hidden;
    z-index:50;
}
.menu_list:hover .child_menu{
    visibility:visible;
}
.child_menu ul{
    position:absolute;
    float:left;
}
.child_menu ul li{
    height:50px;
    float:left;
}
.child_menu ul li .sec_menu_div{
    height:16px;
    margin-top:17px;
    border-right:1px solid transparent;
    border-left:1px solid transparent;
    padding:0px 10px;
}
.child_menu ul li .sec_menu_div h2,
.child_menu ul li .sec_menu_div h3{
    height:16px;
    float:left;
    font-size:16px;
    color:#00569f;
    line-height:16px;
    padding:0px 10px;
}
.child_menu ul li .sec_menu_div h2{
    font-weight:bold;
}
.child_menu ul li .sec_menu_div h3{
    display:none;
    cursor:pointer;
}
.child_menu ul li:hover .sec_menu_div{
    border-right:1px solid #00569f;
    border-left:1px solid #00569f;
}
.child_menu ul li:hover .sec_menu_div h2{
    display:none;
}
.child_menu ul li:hover .sec_menu_div h3{
    display:block;
}
.child_menu ul li:hover .sec_menu_div h3:hover{
    text-decoration:underline;
}
.search_box{
    width:300px;
    height:42px;
    float:right;
    margin-top:4px;
    background-color:#4065bd;
}
.search_box input{
    width:255px;
    height:42px;
    float:left;
    color:#fff;
    font-size:16px;
    line-height:20px;
    box-sizing:border-box;
    padding:11px 15px;
    background-color:transparent;
}
.search_box input::-webkit-input-placeholder {
    color:#a4b5df;
}
.search_box input:-moz-placeholder {
    color:#a4b5df;
}
.search_box input::-moz-placeholder { 
    color:#a4b5df;
}
.search_box input:-ms-input-placeholder { 
    color:#a4b5df;
}
.search_box .search_btn{
    width:42px;
    height:42px;
    float:right;
    background-color:#093395;
}
.search_box .search_btn img{
    width:28px;
    height:28px;
    float:left;
    margin:7px;
    cursor:pointer;
}

/*页面底部*/
.bottom_box{
    width:1280px;
    box-sizing:border-box;
    padding:0px 40px;
    background-color:#fff;
    overflow:hidden;
}
.bottom_box .link_box{
    width:100%;
    overflow:hidden;
    border-top:4px solid #00569f;
    border-bottom:1px solid #bcbcbc;
}
.bottom_box .link_box .link_div{
    width:680px;
    float:left;
}
.bottom_box .link_box .link_div .link_btn{
    float:left;
    width:30px;
    height:30px;
    padding:0px 10px 0px 30px;
    position:relative;
    font-size:14px;
    line-height:30px;
    color:#00569f;
    margin:15px 0px;
    cursor:pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bottom_box .link_box .link_div .link_btn img{
    width:14px;
    height:14px;
    position:absolute;
    top:8px;
    left:0;
}
.bottom_box .link_box .link_div.open img{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg); 
    -o-transform:rotate(180deg);
}
.bottom_box .link_box .link_div ul{
    width:610px;
    height:30px;
    float:left;
    margin:15px 0px;
    overflow:hidden;
    /*-moz-transition: height 2s 5s;
    -webkit-transition: height 2s 5s;
    transition: height 2s 5s;*/
}
.bottom_box .link_box .link_div.open ul{
    height:auto;
}
.bottom_box .link_box .link_div ul li{
    float:left;
    font-size:14px;
    font-weight:bold;
    color:#000;
    line-height:30px;
    padding:0px 15px;
    cursor:pointer;
}
.bottom_box .link_box .link_div ul li:hover{
    text-decoration:underline;
}
.bottom_box .link_box .quick_link{
    height:60px;
    float:right;
}
.bottom_box .link_box .quick_link h2{
    float:right;
    font-size:14px;
    line-height:14px;
    color:#000;
    padding:0px 20px;
    border-right:1px solid #000;
    margin:23px 0px;
    cursor:pointer;
}
.bottom_box .link_box .quick_link h2:hover{
    text-decoration:underline;
}
.bottom_box .link_box .quick_link h2:first-of-type{
    padding-right:0;
    border:0;
}
.bottom_box .bottom_info{
    float:left;
    padding:25px 180px 35px 180px;
}
.bottom_box .bottom_info .location_info{
    float:left;
    width:450px;
    height:66px;
}
.bottom_box .bottom_info .location_info img{
    height:66px;
    float:left;
}
.bottom_box .bottom_info .location_info p{
    float:left;
    font-size:14px;
    line-height:24px;
    color:#484848;
    padding:6px 0px 5px 30px;
    text-align:left;
}
.bottom_box .bottom_info .web_info{
    width:350px;
    height:24px;
    float:left;
    margin:20px 0px 0px 40px;
}
.bottom_box .bottom_info .web_info .l_img{
    width:15px;
    float:left;
    margin:4px 8px 0px 0px;
}
.bottom_box .bottom_info .web_info p{
    float:left;
    font-size:14px;
    line-height:24px;
    color:#484848;
}
.bottom_box .bottom_info .web_info .r_img{
    width:20px;
    float:left;
    margin:3px 0px 0px 15px;
}








.page_body{
    width:1280px;
    box-sizing:border-box;
    padding:40px;
    background-color:#fff;
}